venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
.env
documents/
index.pkl
index.json
setup_requirements.bat
HW04/
data/
config.json
queries.txt
results.txt
engine/data/
engine/logs/
kaggle.json
submissions/
notes/
app.log
performance.log
HW03/small
HW03/medium
HW03/large
HW03/xlarge
HW03/mlarge
HW03/docs_1000
HW03/docs_2000
HW03/docs_2500
HW03/docs_2625
HW03/docs_2750
HW03/docs_3000
HW03/docs_4000
HW03/docs_5000
HW03/docs_6000
HW03/docs_7000
HW03/docs_8000
HW03/docs_9000
HW03/docs_10000